.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card h1,
  .card p {
    padding: 10px;
  }
  
  .card h1 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
  }
  
  .card p {
    font-size: 1rem;
    color: #777;
    margin: 0;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  
  .App{
    background-color: bisque;
  }

  .btn{
    width:100px;
    background-color: bisque;
    border:0;
    margin-bottom:10px;
    margin-left:10px;
    cursor:pointer;
    height:38px

  }

  .btn:hover{
    background-color:#e9cba7;
  }